.profile-card {
    background-color: white;
    max-width: 370px;
    width: 100%;
    border-radius: 30%;
}

.media-cards {
    gap: 10px;
}

.img-thumbnail {
    height: 145px;
    object-fit: cover;
}

.social-icon-linkedin {
    width: 45px;
    height: 45px;
    background-color: #0077b5;
    color: white;
    font-size: 28px;
    transition: 0.3s;
}

.social-icon-linkedin:hover {
    background-color: #005582;
    text-decoration: none;
}

.profile-card {
    border-radius: 25px;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    background-color: #007bff;
    z-index: 0;
}

.profile-card img {
    z-index: 1;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline li {
    margin-bottom: 20px;
}

ul.timeline li a:first-child {
    font-weight: bold;
    display: inline-block;
}

@media (max-width: 1000px) {
    .about-me {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 330px) {
    .container.profile-card {
        max-width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }
    .profile-card {
        width: 100% !important;
    }
}

@media (max-width: 440px) {
    .timeline li a,
    .timeline li p {
        display: block;
        float: none !important;
        text-align: left;
    }

    .timeline li a.float-right {
        text-align: left;
        color: #888;
        margin-top: 4px;
        display: block;
    }
}
